In [5]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline
# 한글폰트 사용
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [6]:
df = pd.read_csv('./data/서울시 가구원수별 통계(2019).tsv', sep='\t', header=1)
df.head()

,기간,구분,일반가구수,1인,2인,3인,4인,5인,6인,7인 이상,평균가구원수
0,2019,합계,"3,896,389","1,299,787","1,005,065","801,819","614,026","138,596","29,336","7,760",2.3
1,2019,종로구,"62,652","24,671","16,208","11,154","7,828","2,143",505,143,2.2
2,2019,중구,"54,496","22,078","14,578","9,540","6,292","1,533",373,102,2.1
3,2019,용산구,"93,177","35,148","25,164","17,439","11,736","2,907",612,171,2.2
4,2019,성동구,"122,770","41,488","32,125","25,634","18,379","4,014",877,253,2.3

In [10]:
df2 = pd.read_csv('./data/서울시 가구원수별 통계(2019).tsv' , sep='\t', header=1, thousands = ',') 
# thousands = ',' 로 숫자단위를 지정하던 , 없애기
df2.head()

,기간,구분,일반가구수,1인,2인,3인,4인,5인,6인,7인 이상,평균가구원수
0,2019,합계,3896389,1299787,1005065,801819,614026,138596,29336,7760,2.3
1,2019,종로구,62652,24671,16208,11154,7828,2143,505,143,2.2
2,2019,중구,54496,22078,14578,9540,6292,1533,373,102,2.1
3,2019,용산구,93177,35148,25164,17439,11736,2907,612,171,2.2
4,2019,성동구,122770,41488,32125,25634,18379,4014,877,253,2.3

In [11]:
col_list = ['1인', '2인', '3인', '4인', '5인', '6인']
for col in col_list:
    df2.loc[df2[col] < 1000, col] = 1000

df2.head()

,기간,구분,일반가구수,1인,2인,3인,4인,5인,6인,7인 이상,평균가구원수
0,2019,합계,3896389,1299787,1005065,801819,614026,138596,29336,7760,2.3
1,2019,종로구,62652,24671,16208,11154,7828,2143,1000,143,2.2
2,2019,중구,54496,22078,14578,9540,6292,1533,1000,102,2.1
3,2019,용산구,93177,35148,25164,17439,11736,2907,1000,171,2.2
4,2019,성동구,122770,41488,32125,25634,18379,4014,1000,253,2.3

In [ ]:
#경찰서표시만이아닌, 방어력을 찍고싶은데.. 에러나는부분;
for i in pdf.index:
    folium.CircleMarker([pdf.lat[i], pdf.lng[i]], radius=crime_norm['검거'][i],
                        tooltip=pdf['관서명'][i],
                        color='#3186cc', fill_color='#3186cc').add_to(map)