## 서울시열린데이터; 서울시코로나현황   
날짜별 지역별 접촉력 정리하기 / 서울시코로나상황정리(~2020.11.30자료)

In [31]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline
# 한글폰트 사용
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [32]:
df = pd.read_csv('./data/서울시 코로나19 확진자 현황.csv', encoding='euc-kr')
df.head()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,8966,11.30.,NaN,NaN,NaN,강북구,NaN,감염경로 조사중,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
1,8965,11.30.,NaN,NaN,NaN,타시도,NaN,기타 확진자 접촉,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
2,8964,11.30.,NaN,NaN,NaN,타시도,NaN,감염경로 조사중,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
3,8963,11.30.,NaN,NaN,NaN,영등포구,NaN,서초구 사우나 관련,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
4,8962,11.30.,NaN,NaN,NaN,영등포구,NaN,감염경로 조사중,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y

In [33]:
len(df['지역'].notnull())  #8966개

8966

In [34]:
df.rename({'지역':'시군구'}, inplace=True, axis=1)

In [35]:
del df['환자번호'] 
del df['국적'] 
del df['환자정보'] 
del df['조치사항'] 
del df['이동경로']

In [38]:
pop = pd.pivot_table(df, 
                     columns=['확진일'],
                     values=['여행력', '상태'])
pop.head()

DataError: No numeric types to aggregate

In [8]:
pop = pd.read_csv('../08.Cartogram/results/03.pop.csv', index_col = 0)
pop.head()

,광역시도,시군구,20~39세계,20~39세여자,65세이상계,인구수계,인구수남자,인구수여자,소멸비율,소멸위기지역,ID,y,x,여성비,2030여성비
0,강원,강릉시,46008,20993,40497,203057,101154,101903,1.036768,0,강릉,3,11,0.184431,-4.370979
1,강원,고성군,4006,1699,7005,23621,11933,11688,0.485082,1,고성(강원),0,10,-0.518606,-7.588617
2,강원,동해시,16311,7510,16152,83888,42093,41795,0.929916,1,동해,4,11,-0.177618,-3.957452
3,강원,삼척시,12428,5280,14953,61833,31630,30203,0.706213,1,삼척,5,11,-1.153915,-7.515288
4,강원,속초시,15928,7411,14010,76302,37488,38814,1.057959,0,속초,1,10,0.868916,-3.471873

In [10]:
pop = pop[['시군구', '인구수계','ID', 'y', 'x']]
pop.head()

   시군구    인구수계      ID  y   x
0  강릉시  203057      강릉  3  11
1  고성군   23621  고성(강원)  0  10
2  동해시   83888      동해  4  11
3  삼척시   61833      삼척  5  11
4  속초시   76302      속초  1  10

In [12]:
seoulcovid = pd.merge(df, pop, how='left', on='시군구')
seoulcovid = seoulcovid.fillna(0)
seoulcovid.head()

,연번,확진일,환자번호,국적,환자정보,시군구,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부,인구수계,ID,y,x
0,8966,11.30.,0.0,0.0,0.0,강북구,0,감염경로 조사중,0.0,0,0,2020-12-01 15:37:10,2020-12-01 15:37:10,Y,294143.0,서울 강북,3.0,5.0
1,8965,11.30.,0.0,0.0,0.0,타시도,0,기타 확진자 접촉,0.0,0,0,2020-12-01 15:37:10,2020-12-01 15:37:10,Y,0.0,0,0.0,0.0
2,8964,11.30.,0.0,0.0,0.0,타시도,0,감염경로 조사중,0.0,0,0,2020-12-01 15:37:10,2020-12-01 15:37:10,Y,0.0,0,0.0,0.0
3,8963,11.30.,0.0,0.0,0.0,영등포구,0,서초구 사우나 관련,0.0,0,0,2020-12-01 15:37:10,2020-12-01 15:37:10,Y,341509.0,서울 영등포,8.0,4.0
4,8962,11.30.,0.0,0.0,0.0,영등포구,0,감염경로 조사중,0.0,0,0,2020-12-01 15:37:10,2020-12-01 15:37:10,Y,341509.0,서울 영등포,8.0,4.0

In [ ]:
del seoulcovid['환자번호'] 
del seoulcovid['국적'] 
del seoulcovid['환자정보'] 
del seoulcovid['조치사항'] 
del seoulcovid['이동경로']

In [15]:
seoulcovid.tail()

,연번,확진일,시군구,여행력,접촉력,상태,등록일,수정일,노출여부,인구수계,ID,y,x
10115,4,1.30.,마포구,중국 우한시,해외 접촉,퇴원,2020-12-01 15:36:52,2020-12-02 09:00:01,Y,348755.0,서울 마포,5.0,5.0
10116,3,1.30.,종로구,0,#3 접촉,퇴원,2020-12-01 15:36:52,2020-12-02 09:00:01,Y,136649.0,서울 종로,4.0,6.0
10117,2,1.30.,중랑구,중국 우한시,해외 접촉,퇴원,2020-12-01 15:36:52,2020-12-02 09:00:01,Y,374640.0,서울 중랑,4.0,8.0
10118,1,1.24.,강서구,중국 우한시,해외 접촉,퇴원,2020-12-01 15:36:52,2020-12-02 09:00:01,Y,120451.0,부산 강서,18.0,8.0
10119,1,1.24.,강서구,중국 우한시,해외 접촉,퇴원,2020-12-01 15:36:52,2020-12-02 09:00:01,Y,559359.0,서울 강서,6.0,4.0