# 4.2 데이터 입출력

In [1]:
import numpy as np
import pandas as pd

In [2]:
#samples 폴더만들고 돌리니***************************
%%writefile sample.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

#이 명령은 셀에 서술한 내용대로 텍스트 파일을 만드는 명령이다.
# 파일이 생겼다

UsageError: Line magic function `%%writefile` not found.

## CSV 파일 입력

In [3]:
# 생성된 samples파일이 열린다 ( )
# 제일첫번째 출을 헤더로 인식. 열 인덱스로 만들어줌 (나중에 옵션가능)
# 열안해주면 스트링이 된다마...............
# 정수, 실수, 문자열 모두 입력가능
pd.read_csv('sample.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [4]:
# 헤딩정보가 없는걸 새파일을 썼다.
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

UsageError: Line magic function `%%writefile` not found.

In [5]:
pd.read_csv('sample2.csv') #그냥 첫번째 데이터가 헤딩이 되었다 ㅋㅋㅋ

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [6]:
pd.read_csv('sample2.csv', header=None)  # header=None 하니까 헤더에 알아서 012가 들어갔다

   0     1       2
0  1  1.11     one
1  2  2.22     two
2  3  3.33   three

In [7]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3']) #여기에 네임(인덱스)을 줘보자

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [8]:
pd.read_csv('sample2.csv', index_col='c1')

ValueError: Index c1 invalid

In [10]:
# 이번엔 CSV가 아니라 txt파일이다.
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

SyntaxError: invalid syntax (<ipython-input-10-5346bb596a04>, line 3)

In [11]:
pd.read_table('sample3.txt', sep='\s+') #스페이스가 하나이상 \s+

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [13]:
%%writefile samples/sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing samples/sample4.txt

In [19]:
pd.read_csv('samples/sample4.txt', skiprows=[0, 2]) 
# 0,1뛰어넘고 나머지만 읽고싶을때 skiprows=[0, 1]) *********************************

       데이터 포맷의 설명:
1 1.11         one
2 2.22         two
3 3.33       three

In [20]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Overwriting sample5.csv

In [22]:
df = pd.read_csv('sample5.csv', na_values=['누락'])  #누락부분을 NaN으로 바꾸려면
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

In [23]:
df = pd.read_csv('sample5.csv', na_values=['누락', ' '])  #' ' 스페이스추가로, 누락과 빈칸 부분도 Nan으로 바뀌었다
df

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three

## CSV 파일 출력

In [24]:
# df를 csv파일로  .. (인덱스까지 들어감)
df.to_csv('sample6.csv')

In [25]:
# df를 csv파일로.. 구분자를 세퍼레이터로 바꿀 수 있다  컴마대신 |
df.to_csv('sample7.txt', sep='|')

In [26]:
# df를 csv파일로.. Nan을 어떻게 표현할 것인가. 누락으로...
df.to_csv('sample8.csv', na_rep='누락')

In [27]:
# df에 인덱스를 주고 찍어보았다.
df.index = ["a", "b", "c"]
df

    c1    c2      c3
a  1.0  1.11     one
b  2.0   NaN     two
c  NaN  3.33   three

In [28]:
df.to_csv('sample9.csv', index=False, header=False) 
#index=False, header=False를 주면... 
#인덱스도 컬럼인덱스도 없어짐...

## 인터넷 상의 CSV 파일 입력

In [29]:
# 타이타닉호 탑승객 명단. 다운로드하여 읽는다.
df = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")

In [30]:
#많이 쓰는 명령어df.head() 위로부터 5줄을 볼 수 있다 ()안에 숫자쓰면 몇줄볼수있음*******************************
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
df.tail()  # 끝자락 몇개만 먼저 보는거 ***************************

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q