## 4.5 데이터프레임 인덱스 조작
set_index : 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정  

reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.vstack([list('ABCDE'),                  #행을쌓아서
                              np.round(np.random.rand(3, 5), 2)]).T,  #뒤집T
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.39   0.6  0.87
1  B   0.5  0.31  0.65
2  C   0.7  0.64   0.4
3  D  0.87  0.03   0.9
4  E  0.46  0.47  0.22

In [3]:
df2 = df1.set_index("C1")  #c1을 인덱스로 하겠다.set_index
df2

      C2    C3    C4
C1
A   0.39   0.6  0.87
B    0.5  0.31  0.65
C    0.7  0.64   0.4
D   0.87  0.03   0.9
E   0.46  0.47  0.22

In [4]:
df2.set_index("C2")  #c2를 인덱스로 하겠다.( 기존인덱스 c1이 완전 삭제됨;; )

        C3    C4
C2
0.39   0.6  0.87
0.5   0.31  0.65
0.7   0.64   0.4
0.87  0.03   0.9
0.46  0.47  0.22

In [5]:
df2.reset_index()  #다시원위치가 되었따. reset_index

  C1    C2    C3    C4
0  A  0.39   0.6  0.87
1  B   0.5  0.31  0.65
2  C   0.7  0.64   0.4
3  D  0.87  0.03   0.9
4  E  0.46  0.47  0.22

In [6]:
df3 = df2.reset_index(drop=True)  #리셋하면서 지우고싶다 drop=True 하니 C1이 삭제됨
df3

     C2    C3    C4
0  0.39   0.6  0.87
1   0.5  0.31  0.65
2   0.7  0.64   0.4
3  0.87  0.03   0.9
4  0.46  0.47  0.22

In [ ]:
# 연습문제 4.5.1
#5명의 학생의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

#학생 이름을 나타내는 열을 포함시키지 않고 데이터프레임 df_score1 을 생성한 후, 
# df_score1.index 속성에 학생 이름을 나타내는 열을 지정하여 인덱스를 지정한다. 
# reset_index 명령으로 이 인덱스 열을 명령으로 일반 데이터열로 바꾸여 데이터프레임 df_score2을 만든다.

#학생 이름을 나타내는 열이 일반 데이터 열을 포함하는 데이터프레임 df_score2에 
# set_index 명령을 적용하여 다시 학생 이름을 나타내는 열을 인덱스로 변경한다.


#ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ
df_score1 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["이름", "국어", "영어", "수학"])
df_score1

## 다중인덱스
컬럼이나 행에 대해서 위에 큰 그룹으로 하나 더 추가  
(많이안쓰는기능이라공...)  근데 좋아보임 ㅋㅋㅋ

In [8]:
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],  #리스트줄때 중첩.2차원리스트줄것 주의
                   index=[["M", "M", "M", "F", "F", "F"],  #행 부분도 중첩.2차원리스트줄것 주의
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [10]:
# F의 id_1  을 꺼내오고싶다면?
# 튜플로 넣고 [열][행]]
df4[('A','D')][('F','id_1')]

0.12

## 행 인덱스와 열 인덱스 교환
stack 열 인덱스 -> 행 인덱스로 변환

unstack 행 인덱스 -> 열 인덱스로 변환

In [11]:
df2

      C2    C3    C4
C1
A   0.39   0.6  0.87
B    0.5  0.31  0.65
C    0.7  0.64   0.4
D   0.87  0.03   0.9
E   0.46  0.47  0.22

In [12]:
df2.stack()     #c2 c3 c4열인덱스가 반시계방향으로.. 행 인덱스로 들어와서 차곡차곡 쌓였다....

C1
A   C2    0.39
    C3     0.6
    C4    0.87
B   C2     0.5
    C3    0.31
    C4    0.65
C   C2     0.7
    C3    0.64
    C4     0.4
D   C2    0.87
    C3    0.03
    C4     0.9
E   C2    0.46
    C3    0.47
    C4    0.22
dtype: object

In [13]:
df2.unstack()  #행 인덱스가 열 인덱스로 변환

    C1
C2  A     0.39
    B      0.5
    C      0.7
    D     0.87
    E     0.46
C3  A      0.6
    B     0.31
    C     0.64
    D     0.03
    E     0.47
C4  A     0.87
    B     0.65
    C      0.4
    D      0.9
    E     0.22
dtype: object