In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline
# 한글폰트 사용
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [9]:
df = pd.read_csv('./data/소상공인시장진흥공단_상가(상권)정보_서울_202009.csv', sep='|')
df = df[(df['상권업종중분류코드'] == 'D23') | (df['상권업종중분류코드'] == 'F03') | (df['상권업종중분류코드'] == 'F14')] 
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
102,20882530,영진자동차매매상사,NaN,D,소매,D23,자동차/자동차용품,D23A02,중고자동차판매,G45120,...,1174010600106090006000161,은선빌딩,서울특별시 강동구 천호대로 1210,134060,5360.0,NaN,NaN,NaN,127.145646,37.534923
107,20846411,해동카센타,NaN,F,생활서비스,F14,자동차/이륜차,F14A01,자동차정비/카센타,NaN,...,1168010600109360017014126,NaN,서울특별시 강남구 도곡로63길 13,135280,6206.0,NaN,1,NaN,127.054011,37.497786
108,20846680,삼성라지에타,NaN,D,소매,D23,자동차/자동차용품,D23A06,자동차부품판매,G45219,...,1174010300100190004021973,NaN,서울특별시 강동구 조정대로31번길 14,134834,5286.0,NaN,1,NaN,127.181919,37.549615
109,20872409,서광카센타,NaN,F,생활서비스,F14,자동차/이륜차,F14A01,자동차정비/카센타,NaN,...,1168010400100020019018132,NaN,서울특별시 강남구 도산대로 418,135948,6062.0,NaN,1,NaN,127.041283,37.522940
112,20849789,제일전자보수,NaN,F,생활서비스,F03,개인/가정용품수리,F03A01,개인/가정용품수리-종합,S95399,...,1168010600106260000014407,청실종합상가,서울특별시 강남구 남부순환로 2917,135280,6280.0,NaN,1,NaN,127.059147,37.493160

In [5]:
# 빈 데이터프레임을 만들어주고
benz = pd.DataFrame(columns=['상호명', '지점명', '도로명주소', '경도', '위도'])
bmw = pd.DataFrame(columns=['상호명', '지점명', '도로명주소', '경도', '위도'])
volkswagen = pd.DataFrame(columns=['상호명', '지점명', '도로명주소', '경도', '위도'])
porsche = pd.DataFrame(columns=['상호명', '지점명', '도로명주소', '경도', '위도'])

In [ ]:
# 17개 파일 모두
from glob import glob
data_files = glob('./data/소상공인시장진흥공단_상가(상권)정보*.csv')

for filename in data_files:
    print(filename)
    df = pd.read_csv(filename, sep='|')  #파일읽고
    df32 = df[df['상권업종중분류코드'] == 'D23'] #전시장,서비스센터 소매  D23 자동차자동차용품
    df03 = df[df['상권업종중분류코드'] == 'F03'] #서비스센터 F03 개인/가정용품수리
    df14 = df[df['상권업종중분류코드'] == 'F14'] #생활서비스 F14 자동차/이륜차
    df32 = df[['상호명', '지점명', '도로명주소', '경도', '위도']] #데이터프레임에
    df03 = df[['상호명', '지점명', '도로명주소', '경도', '위도']] #데이터프레임에
    df14 = df[['상호명', '지점명', '도로명주소', '경도', '위도']] #데이터프레임에

    # 컬럼상호명에 지정한str이 대소문자구별없이(case=False) 포함되어있다면, 각각변수에 저장
    sb = df[df['상호명'].str.contains('스타벅스|STARBUCKS|스타박스', case=False)]
    cb = df[df['상호명'].str.contains('커피빈|COFFEEBEAN', case=False)]
    ed = df[df['상호명'].str.contains('이디야|EDIYA|이디아', case=False)]
    bd = df[df['상호명'].str.contains('빽다방|PAIKSCOFFEE', case=False)]
    """ sb = df[df['상호명'].str.find('스타벅스') >= 0]
    sb1 = df[df['상호명'].str.upper().str.find('STARBUCKS') >= 0]
    cb = df[df['상호명'].str.find('커피빈') >= 0]
    cb1 = df[df['상호명'].str.upper().str.find('COFFEEBEAN') >= 0]
    ed = df[df['상호명'].str.find('이디야') >= 0]
    ed1 = df[df['상호명'].str.upper().str.find('EDIYA') >= 0]
    bd = df[df['상호명'].str.find('빽다방') >= 0]
    bd1 = df[df['상호명'].str.upper().str.find('PAIKSCOFFEE') >= 0] """

    # 빈 데이터프레임과 각각 합치기concat
    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])